body.ass2 {background-color:skyblue;}

.leadh4para {color:rgb(190, 13, 167);}

main b {color:rgb(128, 95, 161);}

#mainhead {color:white;}

i {color:tomato;}

main.ass2 {color:rgb(3, 109, 26);}

body.ass3 {
    background-color:rgb(197, 150, 191);
    background-image: url(images/ass3-bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    font-size:62.5%;
    font-size:1.6rem;
}
/* I really like the 62.5% trick!! It will make web design life so much easier. */
body.ass3 ol {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.2rem;
}
/* Sorry if these werent the CSS properties from page 158/159 that you mentioned.
 I have the newer online version of the book so I don't have page numbers. I hope I guessed the right properties. */
body.ass3 h2 {
    text-align:center;
    text-decoration:underline;
}
body.ass3 p {
    text-transform:lowercase;
    text-indent:2%;
    letter-spacing:0.1rem;
    line-height:200%;
}
body.ass4 {
    background-color:rgb(197, 150, 191);
    background-image: url(images/ass3-bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    font-size:62.5%;
    font-size:1.6rem;
}
body.ass4 main {
    color:purple
}
/* I really likes the background in my last assignment so I hope its ok if I use that again */
body.ass4 h1 {
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-size: 2.6rem;
    text-align:center;
}
body.ass4 h2 {
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-size: 2.0rem;
    text-indent: 5%;
}
body.ass4 h3 {
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    font-size: 1.8rem;
    text-indent: 7%
}
body.ass4 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
body.ass4 ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
*.ass6 { box-sizing: border-box; } 

#ass6title {display: flex;
            flex-wrap:wrap;
            align-items:center;
}

body.ass6 {
  font-family: sans-serif;
  margin: 0;
  color: #191645;
}

header { 
  padding: 15px; 
  width: 800px;
  margin: auto;
}

nav {
  background-color: #f3f3f4;
}
nav .wrapper {
  width: 800px;
  margin: auto;
}
nav ul {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}

nav li { display:flex;
         flex-wrap:wrap;
         align-items:center; 
}

nav li a { 
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #191645;
}

nav li a:hover { 
  background-color: #43C6Ac;
  color: white;
}

main.ass6 {
  display:flex;
  padding: 15px;
  width: 800px;
  margin: auto;
  color: #191645;
  justify-content:space-around;
  position:relative;
}

article {
  padding: 15px;
  width: 800px;
  margin: auto;
}

aside {
  border: 1px solid #43C6Ac;
  padding: 15px;
}

img {
    display: flex;
    align-items:flex-start;

}

#note {
    position:absolute;
    bottom:0;
    padding: 15px;
}

footer {
  clear: both;
  background-color: #191645;
  color: white;
}
footer .wrapper {
  width: 800px;
  margin: auto;
  padding: 15px;
}